<% layout('/layouts/boilerplate.ejs') %>





<style>
   
    .containerr {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }
    
    .form-label {
        font-weight: bold;
        color: #555;
    }
    
    textarea.form-control {
        resize: none;
    }
    
   .cbtn {
        width: 100%;
        background: #FF6F61;
        border: none;
    }

   .cbtn:hover {
        background: #FF5744;
    }
</style>

<div class="containerr">
    <h2>Update Travel Details</h2>
    <form action="/listing/" method="post"class='needs-validation' novalidate  enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="listing[title]" class="form-control"  required>
            <div class="invalid-feedback">
        Please choose a title.
      </div>

        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country:</label>
            <input type="text" id="country" name="listing[country]" class="form-control" required placeholder="Country">
       <div class="invalid-feedback">
        Please enter country.
      </div>

        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input type="text" id="location" name="listing[location]" class="form-control" placeholder="Location"required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input  id="price" name="listing[price]" class="form-control"  placeholder="Price" required>
            <div class="invalid-feedback">
        Please entee valid price.
      </div>
      


</div> <div class="mb-3">

   <label for="description" class="form-label">img:</label>
<input type="file" name="listing[image]" style="width: 100%;" placeholder="paste your img url">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea id="description" name="listing[description]" class="form-control" rows="6" placeholder="Your description" required></textarea>
            <div class="invalid-feedback">
        Please write description.
      </div>
         
       

        </div>
        <button type="submit" class="btn btn-primary cbtn">Submit</button>
    </form>
</div>
